.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222; /*#3ab7aa*/
  height: 60px;
  /* padding: 20px; */
  color: white;
}

.App-title {
  font-size: 1em;
  margin: 0px;
}

.App-main {
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
